---
title: CSS
---
body {
	background: url(images/bg.png) repeat;
	color: rgb(220, 220, 220);
	text-shadow: #000000 0px 2px 0px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#container {
	width: 808px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -275px;
	margin-left: -404px;
	min-height: 500px;
}

#content {
	width: 800px;
	margin: 0 auto;
}

h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
	width: 358px;
	height: 57px;
	background: url(images/header.png);
}

h1 span, h2 span {
	visibility: hidden;
	font-size: 1pt;
}

.app {
	width: 808px;
	height: 332px;
	position: absolute;
}

{% for item in site.categories.frontpage %}
.app#{{ item.id }} {
	background: url(images/{{ item.id }}-banner.png);
	z-index: {{ forloop.rindex }};
}

.app#{{ item.id }} h2 {
	background: url(images/{{ item.id }}-title.png);
	width: {{ item.title.width }};
	height: {{ item.title.height }};
	position: relative;
	left: {{ item.title.x }};
	top: {{ item.title.y }};
}

{% case item.rel %}
{% when 'appstore' %}
.app#{{ item.id }} .appstorebadge {
	background: url(images/appstorebadge.png);
	width: 203px;
	height: 62px;
	display: block;
	position: relative;
	left: {{ item.badge.x }};
	top: {{ item.badge.y }};
}
{% when 'download' %}
.app#{{ item.id }} .download {
	background: url(images/downloadbadge.png);
	width: 22px;
	height: 24px;
	display: block;
	margin-top: 233px;
	margin-left: 780px;
	opacity: 0.4;
	-webkit-transition: opacity 500ms linear;
}

.app#{{ item.id }} .download:hover {
	opacity: 0.8;
}
{% endcase %}
{% endfor %}

#footer {
	font-size: 9pt;
	font-weight: lighter;
	text-align: center;
	margin-top: 75px;
}