<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>jason c martin</title>
		<link type="text/css" rel="stylesheet" href="bear.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script>
		{% if page.javascript | size > 0 %}{% for item in page.javascript %}
		<script type="text/javascript" src="js/{{ item }}"></script>
		{% endfor %}{% endif %}
	</head>
	<body id="index">
		<div id="container">
			<h1><span>jason c martin</span></h1>
			{{ content }}
			<div id="footer">
				&copy; 2010 Jason C. Martin
			</div>
		</div>
		
		{% include ganalytics.html %}
	</body>
</html>